name: test

on: [push]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - run: corepack enable
      - uses: actions/setup-node@v6
        with:
          node-version: 'lts/*'
          cache: pnpm
      - uses: cypress-io/github-action@v6
        with:
          # env: PORT=4000
          build: pnpm run build
          start: pnpm run start
